<nav class="navbar navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Penguin_in_Antarctica_jumping_out_of_the_water.jpg/240px-Penguin_in_Antarctica_jumping_out_of_the_water.jpg" alt="Bootstrap" width="30" height="24">
    </a>
    <span class="navbar-text text-white">
      Especies de Pingüinos
    </span>
  </div>
</nav>

<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Nombre Científico</th>
            <th>Alimentación</th>
            <th>Distribución Mundial</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pinguino of pinguinos">
            <td><img src="{{ pinguino.image }}" alt="{{ pinguino.nombre }}" width="100"></td>
            <td>{{ pinguino.nombre }}</td>
            <td>{{ pinguino.scientific_name }}</td>
            <td>{{ pinguino.feeding }}</td>
            <td>{{ pinguino.global_distribution }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <a class="navbar-brand" id="texto" href="#">MayorEspecie : {{ mayorEspecie }}</a>

    </div>
  </div>
</div>
